@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');

@import './fontawesome/scss/fontawesome.scss';
@import './fontawesome/scss/solid.scss';

$color_main: #063ed8;
$color_danger: #ec2c2c;
$color_link: #9bbfff;

html, body {
    width: 100%;
    height: 100%;
}

[hidden] {
    display: none !important;
}

body {
    background: #000;
    color: white;
    font: 1rem 'Baloo Da 2', Arial, sans-serif;
    
    margin: 0;
    overflow: hidden;

    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: 1fr;
}

fieldset {
    border: 0.1rem solid #fff;
}

%one-line-overflowing-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%input {
    color: inherit;
    background: $color_main;
    border: none;
    outline: none;

    font: inherit;

    padding: 0.1rem 0.5rem;

    &.danger {
        background: $color_danger;
    }
    &:focus-visible {
        outline: 0.1rem solid #fff;
    }
}

form .section {
    margin-bottom: 0.5rem;
}

input[type="text"], input[type="email"] {
    @extend %input;

    background: #222;
}

button, input[type="submit"] {
    @extend %input;

    user-select: none;
    display: inline-flex;
    align-items: center;

    &:not(:disabled) {
        cursor: pointer;
    }
    &:disabled {
        background: #444;
        color: #fff8;

        pointer-events: none;
    }
    &:active {
        background: mix($color_main, #000, 60%);
    }
}

label + input {
    margin-left: 0.5rem;
}

a {
    color: $color_link;
    cursor: pointer;
}

#logs {
    background: transparent;
    color: inherit;

    border: none;
    outline: 0.1rem solid #fff;

    overflow: auto;
}

#sidebar {
    background: #131313;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 2;

    width: 4rem;
    padding: 0.5rem;
    box-sizing: border-box;

    box-shadow: 0 0 0.2rem #0008;
    
    .sidebar-option {
        width: 3rem;
        height: 3rem;
        background: #222;

        font-size: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow-wrap: break-word;

        cursor: pointer;
        user-select: none;
    }
}

#content {
    background: #000000;

    height: 100%;
    z-index: 0;

    overflow: hidden;

    .content-tab {
        height: 100%;
        display: grid;
        grid-template-rows: max-content 1fr;
        
        .top {
            background: #282828;
            box-shadow: 0 0 0.2rem #0008;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            padding: 1rem 2rem;
            margin: 0;
            z-index: 1;
        }
        .main {
            padding: 1rem;
            box-sizing: border-box;

            overflow: auto;
        }
    }
}

.content-tab.chat .main {
    display: grid;
    grid-template-rows: 1fr max-content;

    .chat-logs {
        overflow-x: hidden;
        overflow-y: auto;

        .message {
            --color: #000;
            
            display: grid;
            grid-template-rows: repeat(2, max-content);
            
            width: 100%;
            overflow: hidden;

            &.outgoing {
                --color: rgb(60, 36, 11);
                text-align: left;
                justify-items: start;
            }
            &.incoming {
                --color: rgb(11, 11, 60);
                text-align: right;
                justify-items: end;
            }

            header {
                .author {
                    &::after {
                        content: ", "
                    }
                }
                time {
                    &::after {
                        content: " ago"
                    }
                }
            }
            p {
                background: var(--color);

                min-width: 10%;
                max-width: 50%;
                width: max-content;
            
                overflow: hidden;
                overflow-wrap: anywhere;
                white-space: balance;

                margin: 0;
                padding: 0.1rem 1rem;
                box-sizing: border-box;
            }
        }
    }

    .chat-box {
        height: 2rem;

        display: grid;
        grid-template-columns: 1fr max-content;
        gap: 1rem;
    }
}


.content-tab.contacts {
    .contacts {
        list-style: none;
        padding: 0;

        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        li {
            background: #111;

            display: grid;
            grid-template-columns: repeat(2, 2em) 1fr;
            gap: 0.25rem;
            padding: 0.5rem;

            align-items: center;

            button {
                height: 100%;
            }

            .username {
                font-weight: bold;
                margin-left: 0.5rem;
            }
        }
    }
}

.profile-card {
    display: grid;
    width: 16rem;
    background: #111;
    box-shadow: 0 0 0.25rrem #000;

    grid-template-areas: "P" "U" "I";
    grid-template-rows: 16rem max-content max-content;
    grid-template-columns: 1fr;
    
    padding: 0.5rem;

    .profile-picture {
        display: block;
        width: 100%;
        height: 100%;
        grid-area: P;
    }
    .username {
        @extend %one-line-overflowing-text;

        grid-area: U;
        text-align: center;

        font-weight: bold;
        font-size: 1.5rem;
    }
    .id {
        @extend %one-line-overflowing-text;
        grid-area: I;
        font-size: 0.7rem;
        color: #888;
    }
}

.contact-icon {
    display: grid;

    .profile-picture, .chat-endpoint-overlay {
        grid-area: 1 / 1 / 2 / 2;
    }
}

.chat-endpoint-overlay {
    pointer-events: none;
    display: grid;

    .unread-messages {
        display: flex;

        text-align: left;

        align-items: center;
        align-self: start;

        height: 0.25rem;
        font-size: 1.25rem;

        margin-top: 0.5rem;
        margin-left: 0.125rem;


        text-shadow: 0 0 0.125rem #000;
        font-weight: bold;
    }

    &.unread {
        box-shadow: 0 0 0.5rem #fff, 0 0 0.25rem #fff inset;
        outline: 1px solid #fff;
    }
}


.profile-picture {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr max-content;
    grid-template-columns: 1fr max-content;

    img {
        width: 100%;
        height: 100%;

        grid-area: 1 / 1 / 3 / 3;
    }

    .indicator {
        grid-area: 2 / 2 / 3 / 3;
        width: 0.5rem;
        height: 0.5rem;
        z-index: 4;

        box-shadow: 0 0 0.25rem #000;

        &[data-indicator="online"] {
            background: #8f8;
        }
        &[data-indicator="offline"] {
            background: #f88;
        }
    }
}

.hover-text {
    position: fixed;
    top: 0;
    left: 0;

    display: block;
    z-index: 3;

    background: #000;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 0.5rem #000;

    pointer-events: none;

    padding: 0.125rem 0.5rem;
}